body {
    background: url('../images/bg.svg');

    width: 100%;

    overflow: hidden;
}
.DashWrap {
    width: 1440px;

    margin: 0 auto;
    padding: 12rem 2rem;

    display: flex;
    flex-direction: row;

    box-sizing: border-box;
}

.characterWrap {
    width: fit-content;
    text-align: center;

    padding: 8rem 2rem;
}
.characterWrap .character {

    display: flex;
    justify-content: center;
    align-items: center;
}
.characterWrap .character img{
    margin-bottom: 1rem;
    position: relative;
    width: 300px;
    height: auto;

    animation: up 3s ease-in-out infinite;
}

.characterWrap .myPageBtn {
    width: 225px;
    height: 55px;

    background-color: #FF97AA;

    border-radius: 100px;
    border : 0;

    color: #fff;
    font-family: 'Pretendard-SemiBold';
    font-size: 24px;

    cursor: pointer;
}
.myPageBtn:hover {
    background-color: #ff84a2;

    transition: all .2s ease-in-out;
}

.InfoWrap{
    margin-left: 3rem;
}
.InfoWrap .FirstStudy{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*챕터별완성률*/
.chapterWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 1000px;
    height: 390px;

    background-color: rgba(255,255,255,0.5);
    border: 1px solid #E1E1E1;
    border-radius: 15px;

    margin-top: 2rem;
}
.chapterWrap .chapterContent {
    width: 900px;
    height: 290px;
    background-color: #fff;
    border: 1px solid #E1E1E1;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-left: 1rem;
}
.chapterContent .bar {
    background: #ff6e93;
    width: 0;
    margin: .25rem 0;
    color: #494949;

    position: relative;

    border-radius: 0 50px 50px 0;

    transition: width 2s;
    -webkit-transform: ranslate3d(0,0,0);
    clear: both;
}
.bar .label {
    padding: 1rem;
    width: 10rem;

    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.chapterContent .chapterLogo {
    width: 190px;
    height: 190px;

    background-color: grey;

    margin-bottom: 1rem ;
}
.chapterContent p {
    font-family: 'Pretendard-Bold';

    font-size: 28px;
}
.chapterContent span {
    padding-left : 10px;
    font-family: 'Pretendard-Bold';

    font-size: 28px;
}

/*study*/
.FirstStudy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.attendInfo {
   display: flex;
   flex-direction: column;
   
   width: 500px;
   height: 300px;
   background-color: rgba(255,255,255,0.5);

   font-family: 'Pretendard-Bold';

   padding: 2rem;
   box-sizing: border-box;

    border: 1px solid #E1E1E1;
    border-radius: 15px;

    margin-left: 4rem;
}

.attendInfo .attendTitle {
    font-family: 'Pretendard-Bold';
    font-size: 2rem;
    color: #FF5881;

    padding: 0 1rem 2rem 0 ;    
}

.attendInfo .attend {
    width: 436px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 1rem;
}

.attendContent .contentTitle{
    font-size: 1.5rem;

    color: #9B9B9B;
    padding-bottom: .75rem;
    padding-right: 9rem;
}
.attendContent .content {
    padding-bottom: 2rem;

    font-size: 2rem;
}
.studyRateWrap {
    position: relative;
}
.studyGraph {
    width: 225px;
    height: 225px;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 4rem;
    font-family: 'Pretendard-ExtraBold';

}
.studyGraph:before{
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(#FF5881 0% 10%,#E1E1E1 0);

    -webkit-mask:radial-gradient(farthest-side,#0000 79%,#000 80%);
          mask:radial-gradient(farthest-side,#0000 79%,#000 80%);
}
.studyTitle {
    font-family: 'Pretendard-Bold';
    font-size: 1.75rem;

    width: 125px;
    height: 55px;

    background-color: #FF97AA;
    border-radius: 0 50px 50px 0;
    color:#fff;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -12rem;
}
.studyTitle p {
    margin-left: -.5rem;
}

@keyframes up {
    0%{
      top: 0rem;
    }
    50% {
      top: .85rem;
    }
    100% {
      top: 0rem;
    }
  }