@font-face {
  font-family: "Moderniz";
  src: url("../font/Moderniz.otf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}

header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu-item {
  cursor: pointer;
  color: #ccc;
}

.login {
  display: flex;
  gap: 10px;
  margin-right: 1%;
}

.signup-button,
.login-button {
  padding: 10px 20px;
  border: 3px solid #ffb2c1;
  background-color: #fff;
  color: #ffb2c1;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Pretendard-Medium";
}

.signup-button {
  background-color: #ffffff;
  color: #ffb2c1;
}
.login-button {
  background-color: #ffb2c1;
  color: #fff;
}

main {
  flex-grow: 1; /* 남은 공간을 모두 차지 */
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.header_question {
  font-size: 40px;
  margin-top: 30px;
  font-family: "Pretendard-SemiBold";
}

.quiz-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffb2c1;
  padding: 20px;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  width: 60%;
  height: 20%;
}

.level {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ff6b6b;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Pretendard-Medium";
}

.quiz-question {
  font-size: 40px;
  margin-top: 7%;
  font-family: "Pretendard-Medium";
}

.blank {
  display: inline-block;
  width: 100px;
  border-bottom: 2px solid #000;
}

.topic {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ff6b6b;
  font-family: "Pretendard-Medium";
}

.text_box {
  background-color: #fff;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.5;
  width: 60%;
  height: 35%;
  border: solid 1px #ffb2c1;
  font-size: 30px;
  font-family: "Pretendard-Medium";
}

.hint-button,
.answer-button {
  width: 20%;
  height: 100%;
  border: 1px solid #ffb2c1;
  background-color: #ffb2c1;
  color: #000000;
  cursor: pointer;
  border-radius: 30px;
  font-size: 25px;
  font-family: "Pretendard-Medium";
}
.answer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* 버튼과 입력 박스 사이의 간격 */
  width: 62%;
  height: 8%;
  margin-top: 50px;
}
.answer-box {
  width: 80%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  text-align: center;
}
