#empty-box {
    display: block;
    height: 70px;
    width: 100%;
}

#tier-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.tier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 140px;
    height: 140px;            
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#info {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

#tier-idx {
    font-size: 60px;
    padding-left: 236px;
    font-family: 'Pretendard-Bold';
}

#timer {
    color: #f06292;
    font-family: 'Pretendard-Bold';
    font-size: 20px;
    padding-top: 24px;
}

#scroll-box {
    border: 1px solid #FF5881;
    width: 1440px;
    height: 450px;
    border-radius: 25px;
    margin: 0 auto;
}

.container {
    z-index: -1;
    margin: auto;
    margin-top: 5px;
    width: 1410px;
    height: 440px;
    vertical-align: middle;
    border-top: 1px;
    /* 최대 높이를 설정 */
    overflow-y: auto;
    /* 세로 스크롤을 허용 */
    background-color: rgba(255, 255, 255, 0.9);
    /* 배경 투명도 조절 */
}

/* 스크롤바 전체 */
.container::-webkit-scrollbar {
    width: 10px;
    /* 너비 조정 */
}

/* 스크롤바 트랙 */
.container::-webkit-scrollbar-track {
    /* 배경색 조정 */
    margin-left: 5px;
    background: #FFC7D4;
    /* 스크롤바 트랙을 왼쪽으로 밀기 위한 여백 */
    border-radius: 8px;
    border: 7px solid rgba(0, 0, 0, 0);
}

/* 스크롤바 핸들 */
.container::-webkit-scrollbar-thumb {
    background: #FF5881;
    border-radius: 10px;
    background-clip: padding-box;
    border-radius: 8px;
    margin-left: -5px;
    /* 스크롤바를 왼쪽으로 밀기 위한 여백 */
    /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}

::-webkit-scrollbar-button:vertical:start,
::-webkit-scrollbar-button:vertical:end {
    height: 20px;
    width: 4px;
    /* 위아래 버튼의 높이 */
}

.ranking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 25px;
    border-bottom: 1px solid #adadad;
    border-radius: 20px;
    height: 120px;
}

.ranking .profile {
    border-radius: 190px;
    width: 130px;
    height: 104px;
}

.current-user {
    background-color: #ff4081;
    color: white;
}

.position {
    width: 50px;
    font-family: 'Pretendard-Bold';
    padding: 0px 43px;
    font-size: 48px;
}

.name {
    flex: 1;
    text-align: left;
    padding: 0px 43px;
    font-family: 'Pretendard-Bold';
    font-size: 40px;
}

.points {
    text-align: right;
    font-family: 'Pretendard-SemiBold';
    font-size: 50px;
    padding-right: 43px;
}