
.header {
    color: #000;
    padding: 20px 0;
    font-size: 24px;
    display: flex;
    justify-content: space-between; /* 양쪽 끝에 배치 */
    align-items: center;
    width: 100%;
    position: relative;
}
#logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.signup-login {
    right: 20px;
    top: 20px;
}
.signup-login button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#tier-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f06292;
    color: white;
    cursor: pointer;
    width: 255px;
    height: 255px;
}
#info {
    display: flex;
    justify-content: center;
}
#tier-idx{
    font-size: 48px;
    font-weight: bold;
}
#info-mark {
    
}
#timer {
    color: #f06292;
    margin-top: 10px;
}
.container {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    max-height: 400px; /* 최대 높이를 설정 */
    overflow-y: auto; /* 세로 스크롤을 허용 */
    background-color: rgba(255, 255, 255, 0.9); /* 배경 투명도 조절 */
    border-radius: 10px;
}
.ranking {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;
}
.ranking img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.ranking:nth-child(1) {
    background-color: #ff4081;
    font-weight: bold;
    color: white;
}
.position {
    width: 50px;
}
.name {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}
.points {
    width: 100px;
    text-align: right;
}
