<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Detail</title>
  </head>
  <body>
    <h2>{{ quiz.subject }}</h2>
    <p>{{ quiz.level }}</p>
    <p>{{ quiz.sentence }}</p>
    <p>{{ quiz.explanation }}</p>
    <p>{{ quiz.answer }}</p>
    <p>{{ quiz.hint }}</p>
    <p>{{ quiz.answer_explanation }}</p>

    <button id="update">수정</button>

    <script>
      document.getElementById("update").addEventListener("click", () => {
        window.location.href = "/api/quiz/update/{{ quiz.id }}";
      });
    </script>
  </body>
</html>
