<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영합니다</title>

    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/test_10.css') }}"
    />

    <!-------------------------------------------------------------------------->

    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/test_10.js') }}"
      defer
    ></script>

    <!-------------------------------------------------------------------------->
</head>
<body>
    <div class="container">
        <div class="center-panel">
            <div class="header">
                감사합니다!
            </div>
            <div class="character">
                캐릭터<br>(일러스트)
            </div>
            <button class="next-button">학습하러 가기</button>
        </div>
    </div>
</body>
</html>
