<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/dashboard.css') }}"
    />
    <script
      src="{{ url_for('static', path='javascript/dashboard.js') }}"
      defer
    ></script>
</head>
<body style="width: 100%;">
    {% include "header.html" %}
    <div class="DashWrap">
        <div class="characterWrap">
            <div class="character"><img id="exp"/></div>
            <button class="myPageBtn" onclick="location.href='/my_page';">마이페이지</button>
        </div>
        <div class="InfoWrap">
            <div class="FirstStudy">
                <div class="studyTitle"><p>학습률</p></div>
                <div class="studyRateWrap" id="studyRateWrap">
                    <div class="studyGraph" data-set=25 id="studyGraph">10%</div>
                </div>
                <div class="attendInfo">
                    <p class="attendTitle">출석 현황</p>
                    <div class="attend">
                        <div class="attendContent">
                            <p class="contentTitle">출석일수</p>
                            <p class="content" id="day"></p>
                        </div>
                        <div class="attendContent">
                            <p class="contentTitle">출석률</p>
                            <p class="content" id="percent"></p>
                        </div>
                        <div class="attendContent">
                            <p class="contentTitle">더리터 처음 시작한 날</p>
                            <p class="content" id="startday"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chapterWrap">
                <div class="chapterContent">   
                    <div class="bar" data-percent="25%">
                        <span class="label">정치 | 경제</span>
                    </div>
                    <div class="bar" data-percent="30%">
                        <span class="label">문학</span>
                    </div>
                    <div class="bar" data-percent="70%">
                        <span class="label ">수학 | 과학</span>
                    </div>
                    <div class="bar" data-percent="90%">
                        <span class="label">시사</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>