<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/dashboard.css') }}"
    />
</head>
<body>
    {% include "header.html" %}
    <div class="DashWrap">
        <div class="characterWrap">
            <div class="character"></div>
            <button class="myPageBtn">마이페이지</button>
        </div>
        <div class="InfoWrap">
            <div class="FirstStudy">
                <div class="studyRateWrap">
                    <div class="studyGraph"></div>
                    <p class="studyRate">81%</p>
                    <p class="studyTitle">학습률</p>
                </div>
                <div class="attendInfo">
                    <p class="attendTitle">출석 현황</p>
                    <div class="attendContent">
                        <p class="contentTitle">출석일수</p>
                        <p class="content">5일</p>
                    </div>
                    <div class="attendContent">
                        <p class="contentTitle">출석률</p>
                        <p class="content">70%</p>
                    </div>
                    <div class="attendContent">
                        <p class="contentTitle">더리터 처음 시작한 날</p>
                        <p class="content">2024.07.30</p>
                    </div>
                </div>
            </div>
            <div class="chapterWrap">
                <div class="chapterContent">
                    <div class="chapterLogo"></div>
                    <p>챕터완성률<span>18%</span></p>
                    <div class="Progessbar">
                        <div class="chapterProgressbar"></div>
                        <div class="chapterProgressbarBg"></div>
                    </div>
                </div>
                <div class="chapterContent">
                    <div class="chapterLogo"></div>
                    <p>챕터완성률<span>100%</span</p>>
                    <div class="Progessbar">
                        <div class="chapterProgressbar"></div>
                        <div class="chapterProgressbarBg"></div>
                    </div>
                </div>
                <div class="chapterContent">
                    <div class="chapterLogo"></div>
                    <p>챕터완성률<span>79%</span></p>
                    <div class="Progessbar">
                        <div class="chapterProgressbar"></div>
                        <div class="chapterProgressbarBg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>