<header>
    <div class="LogoWrap">
        <p>더 리터</p>
    </div>
    <div class="Wrap">
        <div class="MenuBar">
            <div class="Menu">
                <span>학습하기</span>
                <span>퀴즈풀기</span>
                <span>랭킹확인</span>
            </div>
        </div>
        <div class="BtnWrap">
            <div class="SignUpBtn">
                <p>지금 가입</p>
            </div>
            <div class="SignInBtn">
                <p>로그인</p>
            </div>
        </div>
    </div>
</header>
<link
rel="stylesheet"
href="{{ url_for('static', path='css/reset.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', path='css/header.css') }}"
/>