<header>
    <a class="LogoWrap" href="/">
        <p>더 리터</p>
    </a>
    <div class="Wrap">
        <div class="MenuBar">
            <div class="Menu">
                <a href='/lecture'>학습하기</a>
                <a href='/quiz_main'>퀴즈풀기</a>
                <a href='/ranking'>랭킹확인</a>
            </div>
        </div>
        <div class="BtnWrap">
            <div class="SignUpBtn" onclick="location.href='/signup';">
                <p>지금 가입</p>
            </div>
            <div class="SignInBtn" onclick="location.href='/login';">
                <p>로그인</p>
            </div>
        </div>
    </div>
</header>
<link
rel="stylesheet"
href="{{ url_for('static', path='css/reset.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', path='css/header.css') }}"
/>