<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/fullpage.css') }}" />
    <script src="{{ url_for('static', path='javascript/easings.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='javascript/fullpage.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/main.css') }}"
    />
    <script
      src="{{ url_for('static', path='javascript/main.js') }}"
      defer
    ></script>
  </head>
  <body>
    {% include "header.html" %}
    <div id="fullpage">
      <div class="section" id="section0">
        <div class="title">
          <h1 class="the">THE LITER,</h1>
          <h1 class="more">MORE LITER</h1>
        </div>
        <h3>내가 쓴 글의 문법 체크부터<br/>
          어휘력 테스트, 올바른 기사 읽기, 복습까지!<br/>
          <span>구독 한 번</span>에 무제한으로 즐겨 보세요!</h3>
      </div>
      <div class="section" id="section1">
        <div class="info">
          <h2>구독 시리즈?</h2>
          <h3>다양한 기능으로 <span>당신의 어휘력</span>을 체크해 보세요!</h3>
          <div class="featureWrap">
            <img src="{{ url_for('static', path='images/feature.svg')}}"  class="balloon"/>
            <p>보고 싶지 않은 광고 없이 <br/>문해력을 더욱 높일 수 있어요!</p>
          </div>
          <div class="featureWrap">
            <img src="{{ url_for('static', path='images/feature2.svg')}}"  class="balloon"/>
            <p>4개 이상의 모든 챕터를 통해<br/>같이 문해력을 상승시켜 보아요~</p>
          </div>
          <div class="featureWrap">
            <img src="{{ url_for('static', path='images/feature.svg')}}"  class="balloon"/>
            <p>더 높은 퀄리티의 문제들을 보고 싶으시다구요?<br/>구독버튼 당장 꾹꾹!!</p>
          </div>
        </div>  
        <img class="icon1" src="{{ url_for('static', path='images/icon1.svg') }}">
        <img class="icon2" src="{{ url_for('static', path='images/icon2.svg') }}">
        <img class="icon3" src="{{ url_for('static', path='images/icon3.svg') }}">
        <footer style="position: absolute; bottom: 0;">
          <div class="footerwrap">
            <p class="footerInfo">회사소개 &nbsp;*&nbsp; 서비스 약관 &nbsp;*&nbsp; 개인정보처리방침 &nbsp;*&nbsp; 고객 지원 &nbsp;*&nbsp; 개발자 센터</p>
            <p class="footerCopy">가뭄에 단비(주) 멋쟁이사자처럼 12기 백종화 최아령 조윤성 강지희</p>
          </div>
        </footer>
      </div>
  </div>

  </body>
</html>