<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/mypage.css') }}"
    />
  </head>
  <body>
    {% include "header.html" %}
    <div class="pageWrap">
        <div class="FirstWrap">
            <div class="userWrap">
              <img class="userImg" src="" />
              <div class="userInfo">
                <p class="userName">지식 갈증 해소자</p>
                <div class="rankWrap">
                  <img src="{{ url_for('static', path='images/rank5.png')}}"/>
                  <p class="rank">Diamond 리그 <strong>13</strong>위</p>
                </div>
              </div>
            </div>
            <div class="studyWrap">
              <p class="attendTitle">학습 통계</p>
              <div class="attend">
                <div class="attendContent">
                  <p class="contentTitle">총 학습시간</p>
                  <p class="content">10h 20m</p>
                </div>
                <div class="attendContent">
                  <p class="contentTitle">푼 퀴즈 수</p>
                  <p class="content">5</p>
                </div>
                <div class="attendContent">
                  <p class="contentTitle">누적 출석일</p>
                  <p class="content">10일</p>
                </div>
              </div>
            </div>
        </div>
      <div class="SecondWrap">
        <div class="recommendWrap">
          <p class="recommendTitle">오늘의 학습 추천</p>
          <div class="recommnedList">
            <div class="list">
              <div class="listTitle">챕터별 학습</div>
              <div class="listIcon"></div>
            </div>
            <div class="list">
              <div class="listTitle">오늘의 기사</div>
              <div class="listIcon"></div>
            </div>
            <div class="list">
              <div class="listTitle">오늘의 어휘</div>
              <div class="listIcon"></div>
            </div>
          </div>
        </div>
        <div class="btnWrap">
          <div class="Btn">
            <p>실버등급<br/>구독중</p>
            <!-- > 아이콘 -->
          </div>
          <div class="Btn">
            <p>오답노트</p>
            <!-- > 아이콘 -->
          </div>
          <div class="Btn">
            <p>단어장 </p>
            <!-- > 아이콘 -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>