<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/mypage.css') }}"
    />
    <script
      src="{{ url_for('static', path='javascript/mypage.js') }}"
      defer
    ></script>
  </head>
  <body>
    {% include "header.html" %}
    <div class="pageWrap">
        <div class="FirstWrap">
            <div class="userWrap">
              <img class="userImg" src="{{ url_for('static', path='images/level/level1.png')}}" />
              <div class="userInfo">
                <p class="userName"></p>
                <div class="rankWrap">
                  <img id="tier"src="{{ url_for('static', path='images/@.png')}}"/>
                  <span class="rank"></span><span class="rankScore">13</span><span>위</span>
                </div>
              </div>
            </div>
            <div class="studyWrap">
              <p class="attendTitle">학습 통계</p>
              <div class="attend">
                <div class="attendContent">
                  <p class="contentTitle">총 학습시간</p>
                  <p class="content" id="time"></p>
                </div>
                <div class="attendContent">
                  <p class="contentTitle">푼 퀴즈 수</p>
                  <p class="content" id="quiz"></p>
                </div>
                <div class="attendContent">
                  <p class="contentTitle">누적 출석일</p>
                  <p class="content" id="day"></p>
                </div>
              </div>
            </div>
        </div>
      <div class="SecondWrap">
        <div class="recommendWrap">
          <p class="recommendTitle">오늘의 학습 추천</p>
          <div class="recommnedList">
            <div class="list" >
              <div class="listTitle">챕터별 학습</div>
              <div class="listIcon"></div>
            </div>
            <div class="list">
              <div class="listTitle">오늘의 기사</div>
              <div class="listIcon"></div>
            </div>
            <div class="list">
              <div class="listTitle">오늘의 어휘</div>
              <div class="listIcon"></div>
            </div>
          </div>
        </div>
        <div class="btnWrap">
          <div class="Btn" >
            <p id="subscribe">실버등급<br/>구독중</p>
            <!-- > 아이콘 -->
          </div>
          <div class="Btn">
            <p>오답노트</p>
            <!-- > 아이콘 -->
          </div>
          <div class="Btn">
            <p>단어장 </p>
            <!-- > 아이콘 -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>