<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <!-------------------------------------------------------------------------->

    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/quiz_select.css') }}"
    />

    <!-------------------------------------------------------------------------->

    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/main.js') }}"
      defer
    ></script>

    <!-------------------------------------------------------------------------->
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-left"></div>
        <div class="header-right">
          <button class="signup-button">지금 가입</button>
          <button class="login-button">로그인</button>
        </div>
      </header>
      <main>
        <div class="goal">
          <div class="circle">0/30</div>
          <h1>오늘의 퀴즈 목표</h1>
        </div>
        <div class="quizzes">
          <div class="quiz-box">
            <div class="quiz-content"></div>
            <div class="quiz-title">오늘의 퀴즈 풀기</div>
          </div>
          <div class="quiz-box">
            <div class="quiz-content"></div>
            <div class="quiz-title">틀린 퀴즈 풀기</div>
          </div>
          <div class="quiz-box">
            <div class="quiz-content"></div>
            <div class="quiz-title">레벨 별 퀴즈 풀기</div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
