<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <!-------------------------------------------------------------------------->

    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/ranking.css') }}"
    />

    <!-------------------------------------------------------------------------->

    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/ranking.js') }}"
      defer
    ></script>

    <!-------------------------------------------------------------------------->

    <style>
      body {
        background-image: url('{{ url_for('static', path='/images/bg.png') }}'); /* 배경 이미지 경로 */
        background-size: cover; /* 이미지 크기를 화면에 맞춤 */
        background-position: center; /* 이미지를 중앙에 배치 */
        background-repeat: no-repeat; /* 이미지 반복 안 함 */
        text-align: center;
    }
    </style>
  </head>
  <body>
    <div class="header">
      <div id="logo">
        <p>로고</p>
      </div>
        <div class="signup-login">
        <button>지금 가입</button>
        <button>로그인</button>
      </div>
    </div>
    <div>에메랄드 티어</div>
  <div class="timer">남은 시간: 5일 3시간 8분</div>
  <div class="container">
      <div class="ranking">
          <div class="position">1</div>
          <img src="sample.png" alt="지식 갈증 해소자">
          <div class="name">지식 갈증 해소자</div>
          <div class="points">11000pt</div>
      </div>
      <div class="ranking">
          <div class="position">2</div>
          <img src="sample.png" alt="지식 갈증 해소자">
          <div class="name">지식 갈증 해소자</div>
          <div class="points">11000pt</div>
      </div>
      <div class="ranking">
          <div class="position">3</div>
          <img src="sample.png" alt="지식 갈증 해소자">
          <div class="name">지식 갈증 해소자</div>
          <div class="points">11000pt</div>
      </div>
      <div class="ranking">
          <div class="position">4</div>
          <img src="sample.png" alt="지식 갈증 해소자">
          <div class="name">지식 갈증 해소자</div>
          <div class="points">11000pt</div>
      </div>
  </div>
  </body>
</html>