<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <!-------------------------------------------------------------------------->

    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/signup.css') }}"
    />

    <!-------------------------------------------------------------------------->

    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/signup.js') }}"
      defer
    ></script>

    <!-------------------------------------------------------------------------->
  </head>
  <body>
    <div class="container">
      <div class="signup-box">
        <h1>SIGN UP</h1>
        <form>
          <div class="input-group">
            <input type="text" placeholder="아이디" />
            <button type="button" class="check-button">중복 확인</button>
          </div>
          <input type="text" placeholder="닉네임" />
          <input type="password" placeholder="비밀번호" />
          <input type="password" placeholder="비밀번호 확인" />
          <button type="submit">회원 가입</button>
        </form>
      </div>
      <div class="illustration">
        <p>캐릭터<br />(일러스트)</p>
      </div>
    </div>
  </body>
</html>
