<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/signup.css') }}" />
    <script src="{{ url_for('static', path='javascript/signup.js') }}" defer></script>
  </head>
  <body>
    <div id="background"></div>
    {% include "header.html" %}
    <div id="container">
      <div id="signup-box">
        <h1>SIGN UP</h1>
        <form id="id-form">
          <input id="id-input" type="text" placeholder="아이디" />
          <button id="duplicate-check" type="submit">중복 확인</button>
        </form>
        <form id="info-form">
          <input id="nickname-input" type="text" placeholder="닉네임" required/>
          <input class="password-input" type="password" placeholder="비밀번호" required />
          <input id="password-check" type="password" placeholder="비밀번호 확인" required />
          <button id="signup-btn" type="submit">회원 가입</button>
        </form>
      </div>
      <div id="illustration">
        <img src="{{ url_for('static', path='images/signup.png') }}"/>
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>