<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/static/css/reset.css"
    />
    <link
      rel="stylesheet"
      href="/static/css/studyWrite.css"
    />
</head>
<body>
    {% include "header.html" %}
    <div class="writeWrap">
        <h1>오늘의 <span>작문</span> 학습</h1>
        <hr />
        <div class="studyWrap">
            <h2 class="studyQuestion">
              {{ write_task.question }}
            </h2>
            <div class="studySection">
                <div class="studyContent">
                    {{ write_task.content }}
                </div>
                <div class="studyAnswer">
                    <textarea name="answer" id="writeAnswer"></textarea><br />
                    <button class="Btn">제&emsp;출</button>
                </div>
            </div>
        </div>
    </div>
<script>
async function gradeEssay(problem, content, answer) {
    const url = `/gemini/grade`;
    const payload = {
        problem: problem,
        content: content,
        answer: answer
    };

    try {
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
        });

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        const token = document.cookie;
        const user = await fetch("/api/user/me", {
                method: "GET",
                headers: {
                Authorization: token, // Bearer를 포함한 전체 토큰 값
                },
            });
        const user_data = await user.json();
        const userId = user_data.userId;
        const lecture_id = "{{write_task.lecture_id}}";
        await fetch(
                  `/api/user/${userId}/add_lecture_learning_history?lecture_id=${lecture_id}`,
                  {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                  }
                );
        const data = await response.json();
        console.log('Feedback:', data.feedback);
        window.location.href = `/studyWrite_result?feedback=${data.feedback}&answer=${answer}`;
    } catch (error) {
        console.error('Error:', error);
    }
}

const problem = document.getElementsByClassName('studyQuestion')[0].textContent;
const content = document.getElementsByClassName('studyContent')[0].textContent;
const submitBtn = document.getElementsByClassName('Btn')[0];

submitBtn.addEventListener('click', () => {
    const answer = document.getElementById('writeAnswer').value;
    gradeEssay(problem, content, answer).then(feedback => {
        console.log(feedback);
    });
});
</script>
</body>
</html>
