<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>studySituation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/studySituation.css') }}"
    />
  </head>
  <script>
    document.addEventListener("DOMContentLoaded", (event) => {
      const options = document.querySelectorAll(".option");

      options.forEach((option) => {
        option.addEventListener("click", () => {
          // 모든 옵션에서 'selected' 클래스 제거
          options.forEach((opt) => opt.classList.remove("selected"));

          // 클릭된 옵션에 'selected' 클래스 추가
          option.classList.add("selected");
        });
      });
    });
  </script>
  <body>
    {% include "header.html" %}
    <div class="situationWrap">
      <h1>오늘의 <span>상황 이해</span> 학습</h1>
      <hr />
      <div class="studyWrap">
        <h2 class="studyQuestion">{{comprehension_task.question}}</h2>
        <div class="studySection">
          <div class="studyContentWrap">
            <div class="studyContent">{{comprehension_task.content}}</div>
            <div class="firstImg">
              <img src="{{ url_for('static', path='images/q1.svg') }}" />
              <div class="firstBalloon">{{first_part}}</div>
            </div>
            <div class="secondImg">
              <div class="secondBalloon">{{second_part}}</div>
              <img src="{{ url_for('static', path='images/q2.svg') }}" />
            </div>
          </div>
          <div class="studyAnswer">
            <div class="answerOptions">
              <div class="option">{{ option1 }}</div>
              <div class="option">{{ option2 }}</div>
              <div class="option">{{ option3 }}</div>
              <div class="option">{{ option4 }}</div>
              <div class="option">{{ option5 }}</div>
            </div>
            <button class="Btn">제&emsp;출</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
