<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subject Select</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/subjectSelect.css') }}"
    />
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <div class="sidebar">
        <div class="topic">주제별 학습</div>
        <ul>
          <li>
            <a
              href="/subject/정치%20|%20경제"
              class="{% if current_topic == '정치 | 경제' %}active{% endif %}"
              >정치 | 경제</a
            >
          </li>
          <li>
            <a
              href="/subject/문학"
              class="{% if current_topic == '문학' %}active{% endif %}"
              >문학</a
            >
          </li>
          <li>
            <a
              href="/subject/수학%20|%20과학"
              class="{% if current_topic == '수학 | 과학' %}active{% endif %}"
              >수학 | 과학</a
            >
          </li>
          <li>
            <a
              href="/subject/시사"
              class="{% if current_topic == '시사' %}active{% endif %}"
              >시사</a
            >
          </li>
        </ul>
      </div>
      <div class="main-content">
        <div class="content-cards">
          {% for lecture in lectures %}
          <div class="content-card">
            <img
              src="/Hackathon_Team2/static/{{ lecture.image }}"
              alt="Lecture Image"
            />
            <div class="details">
              <div class="title">{{ lecture.title }}</div>
              <div class="description">{{ lecture.description }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% include "footer.html" %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const links = document.querySelectorAll(".sidebar ul li a");

        links.forEach((link) => {
          link.addEventListener("click", function (event) {
            // 모든 링크에서 active 클래스 제거
            links.forEach((link) => link.classList.remove("active"));

            // 클릭된 링크에 active 클래스 추가
            this.classList.add("active");
          });
        });
      });
    </script>
  </body>
</html>
