<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>환영합니다</title>

    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/subjectSelect.css') }}"
    />

    <!-------------------------------------------------------------------------->

    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/subjectSelect.js') }}"
      defer
    ></script>

    <!-------------------------------------------------------------------------->
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <div class="sidebar">
        <div class="topic">주제별 학습</div>
        <ul>
          <li><a href="#">정치 | 경제</a></li>
          <li><a href="#">문학</a></li>
          <li><a href="#" class="active">수학 | 과학</a></li>
          <li><a href="#">시사</a></li>
        </ul>
      </div>
      <div class="main-content">
        <div class="content-cards">
          <div class="content-card">
            <img src="song.png" alt="image" />
            <div class="details">
              <div class="title">지구온난화</div>
              <div class="description">지구가 점점 뜨거워지고 있는 이유</div>
            </div>
          </div>
          <div class="content-card">
            <img src="song.png" alt="image" />
            <div class="details">
              <div class="title">지구온난화</div>
              <div class="description">지구가 점점 뜨거워지고 있는 이유</div>
            </div>
          </div>
          <div class="content-card">
            <img src="song.png" alt="image" />
            <div class="details">
              <div class="title">지구온난화</div>
              <div class="description">지구가 점점 뜨거워지고 있는 이유</div>
            </div>
          </div>
          <div class="content-card">
            <img src="song.png" alt="image" />
            <div class="details">
              <div class="title">지구온난화</div>
              <div class="description">지구가 점점 뜨거워지고 있는 이유</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
