<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subject Select</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/subjectSelect.css') }}"
    />
  </head>
  <body>
    {% include "header.html" %}
    <div class="container">
      <div class="sidebar">
        <div class="topic">주제별 학습</div>
        <ul>
          <li>
            <a
              href="/subject/정치%20|%20경제"
              class="{% if topic == '정치 | 경제' %}active{% endif %}"
              >정치 | 경제</a
            >
          </li>
          <li>
            <a
              href="/subject/문학"
              class="{% if topic == '문학' %}active{% endif %}"
              >문학</a
            >
          </li>
          <li>
            <a
              href="/subject/수학%20|%20과학"
              class="{% if topic == '수학 | 과학' %}active{% endif %}"
              >수학 | 과학</a
            >
          </li>
          <li>
            <a
              href="/subject/시사"
              class="{% if topic == '시사' %}active{% endif %}"
              >시사</a
            >
          </li>
        </ul>
      </div>
      <div class="main-content">
        <div class="content-cards">
          {% for lecture in lectures %}
          <div class="content-card">
            <img
              src="{{ url_for('static', path='images/song.png') }}"
              alt="image"
            />
            <div class="details">
              <div class="title">{{ lecture.title }}</div>
              <div class="description">{{ lecture.description }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>
